## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Flinders,AU,-34.5833,150.8552,59.38,71,100,5.99,overcast clouds
1,1,Vila Franca Do Campo,PT,37.7167,-25.4333,72.01,70,73,3.40,broken clouds
2,2,Yumen,CN,40.2833,97.2000,72.36,22,0,10.87,clear sky
3,3,Bluff,NZ,-46.6000,168.3333,41.81,77,100,6.53,overcast clouds
4,4,Sao Filipe,CV,14.8961,-24.4956,75.72,88,62,7.56,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is he minimum temperature you would like for your vacation?'))
max_temp = float(input('What is the maximum temperature you would like for your vacation?'))

What is he minimum temperature you would like for your vacation?75
What is the maximum temperature you would like for your vacation?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Sao Filipe,CV,14.8961,-24.4956,75.72,88,62,7.56,broken clouds
5,5,Kapaa,US,22.0752,-159.3190,75.18,92,100,11.50,light rain
9,9,Balabac,PH,7.9868,117.0645,82.42,78,100,3.42,overcast clouds
10,10,Padang,ID,-0.9492,100.3543,77.85,89,100,3.09,overcast clouds
15,15,Wanning,CN,18.8003,110.3967,80.40,87,90,6.71,overcast clouds
19,19,Butaritari,KI,3.0707,172.7902,79.79,77,98,5.01,overcast clouds
22,22,Mildmay,CA,44.0501,-81.1164,75.56,79,67,4.00,broken clouds
23,23,Albany,US,42.6001,-73.9662,88.21,64,5,1.01,clear sky
25,25,Puerto Ayacucho,VE,5.6639,-67.6236,79.77,81,88,2.15,overcast clouds
26,26,Sadao,TH,6.6388,100.4234,80.42,94,100,1.61,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                261
City                   261
Country                261
Lat                    261
Lng                    261
Max Temp               261
Humidity               261
Cloudiness             261
Wind Speed             261
Current Description    261
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Sao Filipe,CV,14.8961,-24.4956,75.72,88,62,7.56,broken clouds
5,5,Kapaa,US,22.0752,-159.3190,75.18,92,100,11.50,light rain
9,9,Balabac,PH,7.9868,117.0645,82.42,78,100,3.42,overcast clouds
10,10,Padang,ID,-0.9492,100.3543,77.85,89,100,3.09,overcast clouds
15,15,Wanning,CN,18.8003,110.3967,80.40,87,90,6.71,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Morehead,US,37.2711,-87.1764,84.99,66,0,4.61,clear sky
662,662,Korhogo,CI,9.4500,-5.6333,82.98,57,81,5.32,broken clouds
664,664,Hami,CN,42.8000,93.4500,78.66,21,0,2.17,clear sky
665,665,Thiruvananthapuram,IN,8.4833,76.9167,80.58,83,40,8.05,mist
667,667,Teluknaga,ID,-6.0989,106.6381,84.18,83,20,3.44,haze

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Sao Filipe,CV,75.72,broken clouds,14.8961,-24.4956,
5,Kapaa,US,75.18,light rain,22.0752,-159.3190,
9,Balabac,PH,82.42,overcast clouds,7.9868,117.0645,
10,Padang,ID,77.85,overcast clouds,-0.9492,100.3543,
15,Wanning,CN,80.40,overcast clouds,18.8003,110.3967,
19,Butaritari,KI,79.79,overcast clouds,3.0707,172.7902,
22,Mildmay,CA,75.56,broken clouds,44.0501,-81.1164,
23,Albany,US,88.21,clear sky,42.6001,-73.9662,
25,Puerto Ayacucho,VE,79.77,overcast clouds,5.6639,-67.6236,
26,Sadao,TH,80.42,overcast clouds,6.6388,100.4234,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    
    lat = row['Lat']
    lng = row['Lng']
    
    
    # Add the lat and lng to a location key for the params dict
    
    params['location'] = f'{lat},{lng}'
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # 6e. Make request and retrieve the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except(IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Sao Filipe,CV,75.72,broken clouds,14.8961,-24.4956,Hotel Xaguate
5,Kapaa,US,75.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Balabac,PH,82.42,overcast clouds,7.9868,117.0645,Batalla’s Lodging House
10,Padang,ID,77.85,overcast clouds,-0.9492,100.3543,Mercure Padang
15,Wanning,CN,80.40,overcast clouds,18.8003,110.3967,Paradise Hotel
19,Butaritari,KI,79.79,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
22,Mildmay,CA,75.56,broken clouds,44.0501,-81.1164,Mildmay's Most Wanted
23,Albany,US,88.21,clear sky,42.6001,-73.9662,
25,Puerto Ayacucho,VE,79.77,overcast clouds,5.6639,-67.6236,Posada Turistica Manapiare
26,Sadao,TH,80.42,overcast clouds,6.6388,100.4234,Banana Resort Sadao

In [36]:
import numpy as np

c = hotel_df.replace(r'^\s*$', np.nan, regex=True)

clean_hotel_df = c.dropna()

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Sao Filipe,CV,75.72,broken clouds,14.8961,-24.4956,Hotel Xaguate
5,Kapaa,US,75.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Balabac,PH,82.42,overcast clouds,7.9868,117.0645,Batalla’s Lodging House
10,Padang,ID,77.85,overcast clouds,-0.9492,100.3543,Mercure Padang
15,Wanning,CN,80.40,overcast clouds,18.8003,110.3967,Paradise Hotel
19,Butaritari,KI,79.79,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
22,Mildmay,CA,75.56,broken clouds,44.0501,-81.1164,Mildmay's Most Wanted
25,Puerto Ayacucho,VE,79.77,overcast clouds,5.6639,-67.6236,Posada Turistica Manapiare
26,Sadao,TH,80.42,overcast clouds,6.6388,100.4234,Banana Resort Sadao
27,Atuona,PF,77.04,few clouds,-9.8000,-139.0333,Villa Enata

In [37]:
# 8a. Create the output File (CSV)
output_data_file = 'Vacation_Search/WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [46]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F </dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))